@model Brand

@{
    ViewBag.Title = "Thay đổi thông tin thương hiệu";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


<form asp-controller="Brand" asp-action="Edit" method="post" class=" bg-light rounded container">
    <div asp-validation-summary="All"></div>
    <input hidden asp-for="BrandId" />
    <h3>Thay đổi thương hiệu sản phẩm</h3>
    <div class=" row form-group col">
        <div style="width: 22.5%">
            <label asp-for="BrandName"></label>
        </div>
        <div class=" col-4">
            <input asp-for=" BrandName" class=" form-control text-uppercase" />
            <span asp-validation-for=" BrandName" class=" text-danger"></span>
        </div>
    </div>

    <div class="d-flex justify-content-center"><button class="btn btn-info " type="submit">Thêm mới</button></div>
    <a asp-controller="Brand" asp-action="Index">Hủy</a>
</form>