@model Brand

@{
    ViewBag.Title = "Thay đổi thông tin thương hiệu";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


<div class=" col-8 container">
    <form asp-controller="Brand" asp-action="Edit" method="post" class=" bg-light rounded container">
        <br />
        <input hidden asp-for="BrandId" />
        <h3 class=" text-danger text-center">Thay đổi thương hiệu sản phẩm</h3><br />
        <div class=" row form-group col">
            <div class=" col-2">
                <label asp-for="BrandName"></label>
            </div>
            <div class=" col-10">
                <input asp-for=" BrandName" class=" form-control " />
                <span asp-validation-for=" BrandName" class=" text-danger"></span>
            </div>
        </div>

        <div class="row float-right">
            <button class="btn btn-info " type="submit">Thay đổi</button>&nbsp;&nbsp;
            <a class="btn btn-info " asp-controller="Brand" asp-action="Index">Hủy</a>
        </div>
    </form>
</div>