@model Category

@{
    ViewBag.Title = "Thay đổi tên loại sản phẩm";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<form asp-controller="Category" asp-action="Create" method="post" class=" bg-light rounded container">
    <h3>Thêm mới loại sản phẩm</h3>
    <div class=" row form-group col">
        <div style="width: 22.5%">
            <label asp-for="CategoryName"></label>
        </div>
        <div class=" col-4">
            <input asp-for=" CategoryName" class=" form-control text-uppercase" />
            <span asp-validation-for=" CategoryName" class=" text-danger"></span>
            <em class=" text-danger"> @ViewData["Message"]</em>

        </div>
    </div>

    <div class="d-flex justify-content-center row">
        <button style="margin:4px,4px;" class="btn btn-info " type="submit">Thêm mới</button>&nbsp;&nbsp;
        <a style="margin:4px,4px;" class=" btn btn-primary" asp-controller="Category" asp-action="Index">Hủy</a>
    </div>
</form>