@model Category

@{
    ViewBag.Title = "Thay đổi tên loại sản phẩm";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<div class=" col-8 container">
    <form asp-controller="Category" asp-action="Create" method="post" class=" bg-light rounded container">
        <br />
        <h3 class=" text-danger text-center">Thêm mới loại sản phẩm</h3><br />
        <div class=" row form-group col">
            <div class=" col-2">
                <label asp-for="CategoryName"></label>
            </div>
            <div class=" col-10">
                <input asp-for=" CategoryName" class=" form-control" />
                <span asp-validation-for=" CategoryName" class=" text-danger"></span>
                <em class=" text-danger"> @ViewData["Message"]</em>

            </div>
        </div>

        <div class="row float-right">
            <button style="margin:4px,4px;" class="btn btn-info " type="submit">Thêm mới</button>&nbsp;&nbsp;
            <a style="margin:4px,4px;" class=" btn btn-primary" asp-controller="Category" asp-action="Index">Hủy</a>
        </div>
    </form>
</div>