@model Category

@{
    ViewBag.Title = "Thay đổi loại sản phẩm";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class=" col-8 container">
    <form asp-controller="Category" asp-action="Edit" method="post" class=" bg-light rounded container">
        <br />
        <div asp-validation-summary="All"></div>
        <input hidden asp-for="CategoryId" />
        <h3 class=" text-danger text-center">Thay đổi thương hiệu sản phẩm</h3><br />
        <div class=" row form-group col">
             <div class=" col-2">
                <label asp-for="CategoryName"></label>
            </div>
            <div class=" col-10">
                <input asp-for=" CategoryName" class=" form-control" />
                <span asp-validation-for=" CategoryName" class=" text-danger"></span>
            </div>
            <em class=" text-danger">@ViewData["Message"]</em>
        </div>

        <div class="row float-right">
            <button class="btn btn-info " type="submit">Lưu thay đổi</button>&nbsp;&nbsp;
            <a class=" btn btn-primary" asp-controller="Category" asp-action="Index">Hủy</a>
        </div>
    </form>
</div>