@model List<Category>

@{
    ViewBag.Title = "Các loại sản phẩm";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<br />
<h4 class=" text-center text-danger">Danh sách các loại sản phẩm có trong cửa hàng</h4>
<br />
<div class=" col-10 container bg-light">
    <a asp-controller="Category" asp-action="Create" class=" btn btn-info">Thêm mới</a>
    <br /><br />
    <table id="dataTable" class=" table table-bordered table-hover mt-3">
        <thead class=" thead-light">
            <tr>
                <th>Mã loại</th>
                <th>Loại sản phẩm</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryId</td>
                    <td>@item.CategoryName</td>
                    <td>
                        <a data-toggle="tooltip" title="Sửa" style="margin:0px 5px" asp-controller="Category" asp-action="Edit" asp-route-id="@item.CategoryId"><i class="fa fa-edit"></i></a>
                        <a data-toggle="tooltip" title="Xóa" style="margin:0px 5px" href="javascript:void(0)" class="text-danger" onclick="category.delete('@item.CategoryId')"><i class="fa fa-trash"></i></a>
                      
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').dataTable(
                {
                    "columnDefs": [
                        {
                            "targets": 2,
                            "orderable": false
                        },
                    ]
                }
            );
        });
    </script>
    <script src="~/lib/bootbox/bootbox.js"></script>
    <script src="~/js/deletecategory.js"></script>
}