@model List<Product>
@{
    ViewBag.Title = "Trang chủ";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<div class=" row">
    <div class=" col-10 bg-light">

        <div class="row">
            <img style="width: 33%" src="~/images/thuonghieu/Ariston-MNN-640x280.png" />
            <img style="width: 33%" src="~/images/thuonghieu/May-Nuoc-Nong-Panasonic-640-280-640x280.png" />
            <img style="width: 33%" src="~/images/thuonghieu/May-tam-nuoc-nong-Ferroli-640-280-640x280.png" />
        </div>
        <h2>Bình nóng lạnh</h2>

        <div class=" row">
            @foreach (var steam in Model)
            {

                <div class=" col-sm-3">

                    <div class=" card my-3 text-center">
                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@steam.ProductId">
                            <div class=" card">
                                <div class=" card-header">
                                    <h6>@steam.ProductName</h6>
                                </div>
                                <img src="@Url.Content("~/images/"+ steam.Images.First().ImageName)" class="card-img-top" alt="Alternate Text" height="225" asp-append-version="true" />
                                <div class=" card-footer">
                                    <h5 style="color: red">@String.Format(info, "{0:#,##0 đ}", steam.ProductPrice)</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


            }
        </div>
    </div>

    <div class=" col-2 bg-white">
        <br /><br />
        <form class="border container bg-blue">
            <h5>Lọc sản phẩm</h5>
            <p>Theo hãng:</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Daikiosan">
                <label class="form-check-label" for="Daikiosan">
                    <img width="70" src="~/images/thuonghieu/Daikiosan7498-s_32.png" />
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Kangaroo">
                <label class="form-check-label" for="Kangaroo">
                    <img width="70" src="~/images/thuonghieu/Kangaroo7498-s_52.png" />
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Sunhouse">
                <label class="form-check-label" for="Sunhouse">
                    <img width="70" src="~/images/thuonghieu/Sunhouse7498-s_18.png" />
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Delites">
                <label class="form-check-label" for="Delites">
                    <img height="25" src="~/images/thuonghieu/Delites7498-s_34.png" />
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Midea">
                <label class="form-check-label" for="Midea">
                    <img height="25" src="~/images/thuonghieu/Midea7498-s_36.png" />
                </label>
            </div>
            <br />
            <p>Theo giá:</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Từ 1-4 triệu
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Từ 4-8 triệu

                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Trên 8 triệu
                </label>
            </div>
        </form>
    </div>
</div>